<h3>Hash mostrar </h3>
<table border="1">
  <tr>
    <th>Nombre</th>
    <td><%= @persona[:nombre] %></td>
  </tr>
  <tr>
    <th>Apellido</th>
    <td><%= @persona[:apellido] %></td>
  </tr>
  <tr>
    <th>Teléfono</th>
    <td><%= @persona[:telefono] %></td>
  </tr>
  <tr>
    <th>Correo</th>
    <td><%= @persona[:correo] %></td>
  </tr>
</table>