<h1>Welcome#index</h1>
  <h1>Bienvenido</h1>
  <p>Página de inicio</p>
  <p>UNAN-León</p>
<p>Find me in app/views/welcome/index.html.erb</p>
<h3>Imprimiendo un array Ruby dentro de una vista</h3>
<% @dias_semana.each do |dia| %>
<%= dia %> <br>

<% end %>
<h3> Método last</h3>
<%= @dias_semana.last %>
<h3> Método primer campo array</h3>
<%= @dias_semana.first %>

<h3> Método medida del array</h3>
<%= @dias_semana.length() %>

