h1
{
    color: black;
    height: 30px;
    text-align: center;
}
p
{
    height:15px;
    text-align: center;
}
.persona-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }

  .persona-table th,
  .persona-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .persona-table th {
    background-color: #f2f2f2;
  }

  .persona-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .persona-table tr:hover {
    background-color: #ddd;
  }
  
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
